{% extends "main/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">
					个人信息
				</li>
				<li class="active">
					<a href="{{ url_for('main.innerIndex') }}">首页</a>
				</li>
				<li>
					<a href="{{ url_for('main.arrange') }}">排班</a>
				</li>
				<li>
					<a href="{{ url_for('main.assign') }}">任务</a>
				</li>
				<li class="nav-header">
					功能列表
				</li>
				<li>
					<a href="{{ url_for('main.experience') }}">值班经验</a>
				</li>
				<li>
					<a href="{{ url_for('main.fince') }}">财务报销</a>
				</li>
			</ul>
		</div>
        <div class="col-md-1">
        </div>
		<div class="col-md-9">
			<div class="row">
				<div >
					<h2 class="title-thin text-muted">个人信息</h2>
					<br/>
				</div>

                <div class="col-sm-6 clear-mrg">
                    <dl>
                        <dt class="text-upper">姓名</dt>
                        <dd>{{ name }}</dd>
						<br/>
                        <dt class="text-upper">电话</dt>
                        <dd>{{ tel }}</dd>
						<br/>
                        <dt class="text-upper">部门</dt>
                        <dd>{{ group }}</dd>
						<br/>
						<dt class="text-upper">排班</dt>
                        <dd>{{ arrange }}</dd>
						<br/>
                    </dl>
                </div><!-- .col-sm-6 -->
            </div>
		</div>
	</div>
</div>
{% endblock %}